# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# Dependencies
node_modules/

# Build output
dist/
build/
out/

# IDEs
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Coverage
coverage/
.coverage

# Temporary files
*.tmp
*.swp